@media (max-width: 960px) {
  body {
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container > * {
    max-width: 100%;
    box-sizing: border-box;
  }

  main {
    width: 600px;
    max-width: 100%;
    order: 1;
  }

  .left-sidebar,
  .right-sidebar {
    width: 100%;
    max-width: 180px;
    order: 2;
  }

  .left-sidebar {
    grid-row: 2;
  }

  .right-sidebar {
    grid-row: 3;
  }

  .section-2 {
    flex-direction: column;
    align-items: center;
  }

  .column-1 {
    flex: 0 0 auto;
  }

  .column-2 {
    flex: 1;
  }
}
