* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  width: 960px;
  margin-left: 0;
  background-image: url(/src/img/cloudsbg.jpeg);
  font-size: 1.6rem;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

header {
  margin: 0px auto;
  padding: 20px 5px;
}

.container {
  display: grid;
  grid-template-columns: 180px 600px 180px;
}

aside {
  padding: 1rem;
}

.left-sidebar {
  background: #f0f0f0;
}

.right-sidebar {
  background: #e0e0e0;
}

main {
  padding: 1rem;
  background: #ffffff;
  width: 100%;
}

footer {
  margin: 0px auto;
  padding: 20px 5px;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 6rem;
  text-shadow: 0 0 2px black;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 3rem;
  text-align: center;
}

h3 {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

nav a {
  color: #333;
  text-decoration: none;
}

.middle-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
  width: 100%;
}

.section-2 {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.column-1 {
  flex: 0 0 auto;
}

.column-1 img {
  width: 150px;
  height: auto;
}

.column-2 {
  flex: 1;
}

.marquee {
  width: 100%;
  background-color: #284ac8;
  overflow: hidden;
}

.marquee-text {
  display: inline-block;
  animation: scroll 20s linear infinite, rainbow-hsl 5s linear infinite;
  white-space: nowrap;
  text-shadow: 1px 1px #000;
}

.rainbow-text {
  animation: rainbow-colors 4s linear infinite;
}

.red {
  color: red;
}

.green {
  color: green;
}

#hackathon {
  background-color: maroon;
}

.regular {
  background-color: lightblue;
}

#logo {
  max-width: 100px;
}
.icon-1 {
  max-width: 15px;
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes rainbow-hsl {
  0% {
    color: hsl(0, 80%, 50%);
  }
  20% {
    color: hsl(72, 80%, 50%);
  }
  40% {
    color: hsl(144, 80%, 50%);
  }
  60% {
    color: hsl(216, 80%, 50%);
  }
  80% {
    color: hsl(288, 80%, 50%);
  }
  100% {
    color: hsl(360, 80%, 50%);
  }
}

@keyframes rainbow-colors {
  0% {
    color: rgb(0, 255, 0);
  }
  20% {
    color: rgb(0, 255, 255);
  }
  40% {
    color: rgb(0, 0, 255);
  }
  60% {
    color: rgb(255, 0, 255);
  }
  80% {
    color: rgb(255, 0, 0);
  }
  100% {
    color: rgb(0, 255, 0);
  }
}
