* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  width: 960px;
  margin-left: 0;
  background-image: url(/src/img/cloudsbg.jpeg);
  font-size: 1.6rem;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

header {
  margin: 0px auto;
  padding: 20px 5px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
}

.wrapper {
  display: grid;
  grid-template-columns: 180px 600px 180px;
  grid-template-areas: "left main right";
  justify-content: center;
  gap: 0;
}

.aside-left {
  grid-area: left;
  width: 100%;
  padding: 1rem;
  background-color: blue;
}

.middle-content {
  grid-area: main;
  width: 100%;
  padding: 0 2rem;
  background-color: green;
}

.aside-right {
  grid-area: right;
  width: 100%;
  padding: 1rem;
  background-color: purple;
}

footer {
  margin: 0px auto;
  padding: 20px 5px;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 6rem;
  text-shadow: 0 0 2px black;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 3rem;
}

.marquee {
  width: 100%;
  background-color: #284ac8;
  overflow: hidden;
}

.featured {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.section-1 {
  display: flex;
  align-items: flex-start;
}

.section-1 img {
  flex-shrink: 0;
}

.feature-message {
  flex-grow: 1;
}

.marquee-text {
  display: inline-block;
  animation: scroll 20s linear infinite, rainbow-hsl 5s linear infinite;
  white-space: nowrap;
  text-shadow: 1px 1px #000;
}

.rainbow-text {
  animation: rainbow-colors 4s linear infinite;
}

.red {
  color: red;
}

.green {
  color: green;
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes rainbow-hsl {
  0% {
    color: hsl(0, 80%, 50%);
  }
  20% {
    color: hsl(72, 80%, 50%);
  }
  40% {
    color: hsl(144, 80%, 50%);
  }
  60% {
    color: hsl(216, 80%, 50%);
  }
  80% {
    color: hsl(288, 80%, 50%);
  }
  100% {
    color: hsl(360, 80%, 50%);
  }
}

@keyframes rainbow-colors {
  0% {
    color: rgb(0, 255, 0);
  }
  20% {
    color: rgb(0, 255, 255);
  }
  40% {
    color: rgb(0, 0, 255);
  }
  60% {
    color: rgb(255, 0, 255);
  }
  80% {
    color: rgb(255, 0, 0);
  }
  100% {
    color: rgb(0, 255, 0);
  }
}
